Repository tobymao/18xx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crericha, @michaeljb, @roseundy, @vandamm

[1822CA] fix dev stage for scenarios, credit Simon Cutforth
  lib/engine/game/g_1822_ca/meta.rb
  lib/engine/game/g_1822_ca_ers/meta.rb
  lib/engine/game/g_1822_ca_wrs/meta.rb
Owners: @michaeljb

deep freeze 1825 map constants
  lib/engine/game/g_1825/map.rb
Owners: @roseundy

fix 1825 for deep_freeze
  lib/engine/game/g_1825/map.rb
Owners: @roseundy

implement deep_freeze
  lib/engine.rb
  lib/engine/deep_freeze.rb
Owners: none

validate.rb: provide hash of game titles => broken game IDs
  validate.rb
Owners: none

delete bad test file
  nogtest.json
Owners: none

.github/CODEOWNERS:

# This configuration ensures the implementer/maintainer of a game is
# automatically added as a reviewer when a pull request is created.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

lib/engine/game/g_1817* @crericha
lib/engine/game/g_1828* @crericha
lib/engine/game/g_1844* @crericha
lib/engine/game/g_1880* @crericha
lib/engine/game/g_18_ny* @crericha
lib/engine/game/g_18_usa* @crericha

lib/engine/game/g_1822_ca* @michaeljb
lib/engine/game/g_1846* @michaeljb
lib/engine/game/g_1868_wy* @michaeljb
lib/engine/game/g_18_los_angeles* @michaeljb
lib/engine/game/g_18_royal_gorge* @michaeljb

lib/engine/game/g_1825* @roseundy
lib/engine/game/g_1841* @roseundy
lib/engine/game/g_1860* @roseundy
lib/engine/game/g_1862* @roseundy
lib/engine/game/g_1873* @roseundy
lib/engine/game/g_1888* @roseundy
lib/engine/game/g_18_carolinas* @roseundy
lib/engine/game/g_18_mag* @roseundy
lib/engine/game/g_18_new_england* @roseundy
lib/engine/game/g_21_moon* @roseundy
lib/engine/game/g_rolling_stock* @roseundy

lib/engine/game/g_1822_africa* @vandamm
lib/engine/game/g_18_jpt* @vandamm
lib/engine/game/g_18_scan* @vandamm
