Repository tobymao/18xx, pull requests merged in 2020-10, with the labels that each got.

#2031 fix C&OC still being rendered on tile after it is bought in
  assets/app/view/game/part/blocker.rb
Labels: 18Chesapeake

#2007 18 Los Angeles - better handling of passenger/freight route overlap
  assets/app/view/game/part/track.rb
  lib/engine/game/g_18_los_angeles.rb
  lib/engine/step/g_18_los_angeles/route.rb
Labels: 18 Los Angeles

#1975 Add 1860 Turn Auction
  assets/app/view/game/round/auction.rb
  lib/engine/action/bid.rb
  lib/engine/config/game/g_1860.rb
  lib/engine/game/g_1860.rb
  lib/engine/step/g_1860/buy_cert.rb
  public/logos/1860/BHIR.svg
  public/logos/1860/CN.svg
  public/logos/1860/FYN.svg
  public/logos/1860/IOW.svg
  public/logos/1860/IWNJ.svg
  public/logos/1860/NGStL.svg
  public/logos/1860/SC.svg
  public/logos/1860/VYSC.svg
Labels: 1860

#2020 "cheater" tokens for 18LA DC&H, 1846 2p Variant setup
  assets/app/view/game/part/city_slot.rb
  assets/app/view/welcome.rb
  lib/engine/ability/token.rb
  lib/engine/config/game/g_18_los_angeles.rb
  lib/engine/game/g_1846.rb
  lib/engine/game/g_18_los_angeles.rb
  lib/engine/hex.rb
  lib/engine/part/city.rb
  lib/engine/step/g_18_los_angeles/special_token.rb
  lib/engine/step/tokener.rb
Labels: 18 Los Angeles, 1846
