Repository tobymao/18xx, pull requests merged in 2023-12, with the labels that each got.

#9967 [18Tokaido] update train costs for limited express variant
  lib/engine/game/g_18_tokaido/game.rb
Labels: pins, 18Tokaido

#9970 [1850] Fix price protection
  lib/engine/game/g_1850/game.rb
  lib/engine/game/g_1850/step/price_protection.rb
  public/fixtures/1850/115810.json
Labels: 1850

#9986 [1856] removes ebuy cross-buy
  lib/engine/game/g_1856/game.rb
  public/fixtures/1856/hotseat007.json
Labels: pins, 1856

#9989 [1822] fixes SELL_AFTER rule
  lib/engine/game/base.rb
  lib/engine/game/g_1822/game.rb
  public/fixtures/1822PNW/124005.json
Labels: pins, 1822, 1822MX, 1822PNW, 1822Africa, 1822CA

#10020 1850jr init commit and to alpha
  assets/app/view/welcome.rb
  lib/engine/game/g_1850_jr.rb
  lib/engine/game/g_1850_jr/entities.rb
  lib/engine/game/g_1850_jr/game.rb
  lib/engine/game/g_1850_jr/map.rb
  lib/engine/game/g_1850_jr/meta.rb
  public/fixtures/1850Jr/hotseat.json
Labels: 1850jr

#10016 [1825] corps can only pay multiples of 10 for crossbuys
  lib/engine/game/g_1825/game.rb
  lib/engine/game/g_1825/step/buy_train.rb
  public/fixtures/1825/141331.json
  public/fixtures/1825/69820.json
Labels: pins, 1825

#10017 [18EU] show bidders on corporation cards
  assets/app/view/game/corporation.rb
  assets/app/view/game/round/auction.rb
  lib/engine/game/g_18_eu/step/modified_dutch_auction.rb
Labels: 18EU

#10019 [1894] Change 4T price to 300
  lib/engine/game/g_1894/game.rb
Labels: pins

#10022 [18PNW] autopass if no tokens left in corp
  lib/engine/game/g_1822_pnw/game.rb
  public/fixtures/1822PNW/no_tokens_left.json
Labels: pins

#10031 [1822] fix for full_or_turn SELL_AFTER case.
  lib/engine/game/base.rb
Labels: pins, 1822, 1822MX, 1822PNW, 1822Africa, 1822CA

#10024 [18EU] Allow holdings above limit when corporation hasn't operated yet.
  lib/engine/game/g_18_eu/corporation.rb
  lib/engine/game/g_18_eu/game.rb
  public/fixtures/18EU/can_hold_70_percent_before_operates.json
Labels: 18EU

#10039 [1871] Call player.unpass! in process_split
  lib/engine/game/g_1871/step/buy_sell_par_split_shares.rb
Labels: pins, archive_alpha_games, 1871

#10041 [18SJ] Add check to Step::AssignGotaKanalbolaget
  lib/engine/game/g_18_sj/step/assign_gotakanalbolaget.rb
Labels: 18SJ

#10042 [1858] Make sure tokens from Madrid privates go to the right city
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/step/home_token.rb
  lib/engine/game/g_1858/step/private_exchange.rb
Labels: pins, 1858

#10044 [1858] Clear round.current_actions after an auction
  lib/engine/game/g_1858/step/buy_sell_par_shares.rb
Labels: pins, 1858

#10055 [1868WY] Remove "variant" checkbox for 2p
  lib/engine/game/g_1868_wy/game.rb
  lib/engine/game/g_1868_wy/meta.rb
  lib/engine/game/g_1868_wy_simple_2p.rb
  lib/engine/game/g_1868_wy_simple_2p/game.rb
  lib/engine/game/g_1868_wy_simple_2p/meta.rb
Labels: migration

#10056 [1868WY] fix $20 charges for overpass tiles
  lib/engine/game/g_1868_wy/game.rb
Labels: pins
