Repository tobymao/18xx, pull requests merged in 2023-02, with the labels that each got.

#8735 [1866] Fixes, remake and scenario
  lib/engine/game/g_1866/game.rb
  lib/engine/game/g_1866/map.rb
  lib/engine/game/g_1866/meta.rb
  lib/engine/game/g_1866/step/buy_train.rb
  lib/engine/game/g_1866/step/track.rb
Labels: pins

#8756 [1822PNW] Don't allow portage tiles on top of port tiles
  lib/engine/game/g_1822/game.rb
  lib/engine/game/g_1822_pnw/map.rb
  lib/engine/game/g_1822_pnw/step/special_track.rb
  lib/engine/game/g_1822_pnw/step/track.rb
Labels: pins

#8787 1852 Missouri - playtesting update train counts
  lib/engine/game/g_18_mo/game.rb
Labels: archive_alpha_games

#8749 [1858] Operating round structure and track laying
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/graph.rb
  lib/engine/game/g_1858/path_node.rb
  lib/engine/game/g_1858/step/track.rb
Labels: 1858

#8793 18MO: Playtest changes
  lib/engine/game/g_18_mo/entities.rb
  lib/engine/game/g_18_mo/game.rb
  lib/engine/game/g_18_mo/map.rb
Labels: pins

#8797 [1822PNW] Updates based on new rules
  assets/app/view/game/part/track_node_path.rb
  lib/engine/game/g_1822_pnw/entities.rb
  lib/engine/game/g_1822_pnw/game.rb
  lib/engine/game/g_1822_pnw/map.rb
Labels: pins, 1822PNW

#8802 [1858] Token step in the operating round
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/step/token.rb
Labels: 1858

#8829 [18PNW] swap A and C regional starts
  lib/engine/game/g_1822_pnw/entities.rb
Labels: pins

#8852 1848 - only 4/4+ can be traded into D
  lib/engine/game/g_1848/game.rb
Labels: pins

#8804 [1858] Stock round: auctions, buying and selling shares
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/step/buy_sell_par_shares.rb
Labels: 1858

#8847 [1871] changes to starting cash and minor face values
  lib/engine/game/g_1871/companies.rb
  lib/engine/game/g_1871/game.rb
  spec/fixtures/1871/hunslet_buy.json
Labels: pins, 1871

#8842 [1858] Operating round: route and dividend steps
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/step/dividend.rb
  lib/engine/game/g_1858/step/route.rb
Labels: 1858

#8871 [1880] fix scr qsr placement blocking
  lib/engine/game/base.rb
  lib/engine/game/g_1880/game.rb
  lib/engine/tile.rb
Labels: pins

#8882 [18CZ] fix `potential_company_cash`
  lib/engine/game/g_18_cz/game.rb
Labels: pins

#8843 [1858] Quick start and two player variants
  lib/engine/game/g_1858/entities.rb
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/meta.rb
Labels: 1858

#8905 [1862] fix presidency check when selling shares
  lib/engine/game/g_1862/game.rb
Labels: 1862

#8888 [1858] Operating round: buying/discarding trains and issuing shares
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/market.rb
  lib/engine/game/g_1858/step/buy_train.rb
  lib/engine/game/g_1858/step/discard_train.rb
  lib/engine/game/g_1858/step/issue_shares.rb
Labels: 1858

#8940 [18Ireland] Implements the official larger bank variant
  lib/engine/game/g_18_ireland/game.rb
  lib/engine/game/g_18_ireland/meta.rb
Labels: 18Ireland

#8944 Adds map.rb and entities.rb to 1822MRS and NRS
  lib/engine/game/g_1822_mrs/entities.rb
  lib/engine/game/g_1822_mrs/game.rb
  lib/engine/game/g_1822_mrs/map.rb
  lib/engine/game/g_1822_nrs/entities.rb
  lib/engine/game/g_1822_nrs/game.rb
  lib/engine/game/g_1822_nrs/map.rb
Labels: 1822

#8942 Adds 8-train variant from the official rules for 1856
  lib/engine/game/g_1856/game.rb
  lib/engine/game/g_1856/meta.rb
Labels: 1856
