Repository tobymao/18xx, pull requests merged in 2023-03, with the labels that each got.

#8889 [18BF] Map, entity, tile, market and train definitions
  lib/engine/company.rb
  lib/engine/game/g_18_bf.rb
  lib/engine/game/g_18_bf/entities.rb
  lib/engine/game/g_18_bf/game.rb
  lib/engine/game/g_18_bf/map.rb
  lib/engine/game/g_18_bf/market.rb
  lib/engine/game/g_18_bf/meta.rb
  lib/engine/game/g_18_bf/step/special_track.rb
  lib/engine/game/g_18_bf/tiles.rb
  lib/engine/game/g_18_bf/trains.rb
  public/logos/18_bf/BE.svg
  public/logos/18_bf/BG.svg
  public/logos/18_bf/CR.svg
  public/logos/18_bf/EC.svg
  public/logos/18_bf/EG.svg
  public/logos/18_bf/EK.svg
  public/logos/18_bf/EPD.svg
  public/logos/18_bf/GA.svg
  public/logos/18_bf/GC.svg
  public/logos/18_bf/GCR.svg
  public/logos/18_bf/GER.svg
  public/logos/18_bf/GJ.svg
  public/logos/18_bf/GNR.svg
  public/logos/18_bf/GWR.svg
  public/logos/18_bf/LB.svg
  public/logos/18_bf/LBSC.svg
  public/logos/18_bf/LH.svg
  public/logos/18_bf/LMS.svg
  public/logos/18_bf/LNE.svg
  public/logos/18_bf/LNW.svg
  public/logos/18_bf/LR.svg
  public/logos/18_bf/LS.svg
  public/logos/18_bf/LSW.svg
  public/logos/18_bf/LY.svg
  public/logos/18_bf/LYR.svg
  public/logos/18_bf/MC.svg
  public/logos/18_bf/ML.svg
  public/logos/18_bf/MR.svg
  public/logos/18_bf/NBR.svg
  public/logos/18_bf/ND.svg
  public/logos/18_bf/NER.svg
  public/logos/18_bf/NM.svg
  public/logos/18_bf/NU.svg
  public/logos/18_bf/SAM.svg
  public/logos/18_bf/SE.svg
  public/logos/18_bf/SEC.svg
  public/logos/18_bf/SR.svg
  public/logos/18_bf/TV.svg
  public/logos/18_bf/VN.svg
  public/logos/18_bf/YNM.svg
Labels: 18BF

#8946 [1858] Stock round: exchange and tokening steps
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/market.rb
  lib/engine/game/g_1858/step/buy_sell_par_shares.rb
  lib/engine/game/g_1858/step/dividend.rb
  lib/engine/game/g_1858/step/exchange.rb
  lib/engine/game/g_1858/step/home_token.rb
  lib/engine/game/g_1858/step/private_exchange.rb
  lib/engine/part/city.rb
Labels: 1858

#8969 [1822PNW,MX,CA] fix P16 not counting as a cert
  lib/engine/game/g_1822_ca/game.rb
  lib/engine/game/g_1822_mx/game.rb
  lib/engine/game/g_1822_pnw/game.rb
Labels: pins

#8968 [1858] Various small fixes
  lib/engine/game/g_1858/entities.rb
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/graph.rb
  lib/engine/game/g_1858/map.rb
  lib/engine/game/g_1858/step/track.rb
  public/icons/1858/CMP.svg
  public/logos/1858/CMP.svg
Labels: 1858

#8971 Partially revert 4c65c1f, move changes to 1880 code
  lib/engine/game/g_1880/game.rb
  lib/engine/game/g_1880/step/home_token.rb
  lib/engine/step/home_token.rb
Labels: 1867, 1880

#8949 Adds diesel variant to 1836jr56
  lib/engine/game/g_1836_jr56/game.rb
  lib/engine/game/g_1836_jr56/meta.rb
Labels: 1836jr56

#9010 [1846] Update rules link on Info page
  lib/engine/game/g_1846/meta.rb
Labels: 1846

#9009 [1822_MX] NdeM discarded trains should be removed from the game
  lib/engine/game/g_1822_mx/step/discard_train.rb
Labels: pins, 1822MX

#9011 [1817] Volatility-variant private "Inventor" pays too much on 6 train purchase
  lib/engine/game/base.rb
  lib/engine/game/g_1817/game.rb
Labels: 1817, pins

#9029 Raise an error if the tile being laid is already on the board
  lib/engine/game/base.rb
  lib/engine/game/double_sided_tiles.rb
Labels: 18Carolinas, pins, 18Mag, archive_alpha_games, 1868WY
