Repository tobymao/18xx, pull requests merged in 2023-06, with the labels that each got.

#9227 [1828] place blocking token in correct city on hex
  lib/engine/game/g_1828/game.rb
Labels: pins, 1828.Games

#9235 1841: train routing and dividend rules
  lib/engine/game/g_1841/game.rb
  lib/engine/game/g_1841/step/dividend.rb
  lib/engine/game/g_1841/step/track.rb
Labels: 1841

#9225 1858 map display
  assets/app/view/game/part/track.rb
  lib/engine/game/g_1858/entities.rb
  lib/engine/game/g_1858/game.rb
  lib/engine/game/g_1858/map.rb
  lib/engine/part/stub.rb
Labels: map, 1858, Core

#9245 [18RHL] Correct lay of special tile 949
  lib/engine/game/g_18_rhl/step/track.rb
Labels: 18Rhl

#9116 [18OE] float major
  lib/engine/game/g_18_oe/game.rb
  lib/engine/game/g_18_oe/round/operating.rb
  lib/engine/game/g_18_oe/step/buy_sell_par_shares.rb
  lib/engine/game/g_18_oe/step/buy_train.rb
  lib/engine/game/g_18_oe_uk_fr/entities.rb
  lib/engine/game/g_18_oe_uk_fr/game.rb
Labels: Core, 18OE

#9284 [18USA] Corporations can exceed bid amount when acquiring companies.
  lib/engine/game/g_18_usa/step/buy_sell_par_shares.rb
  lib/engine/game/g_18_usa/step/home_token.rb
  migrate_game.rb
  public/fixtures/18USA/109372.json
  public/fixtures/18USA/110327.json
Labels: 18USA, migrate_game
