Repository tobymao/18xx, pull requests merged in 2024-12, with the labels that each got.

#11338 [1822CA ERS] Winnipeg should be pass-through, not terminal
  lib/engine/game/g_1822_ca_ers/map.rb
Labels: map, 1822CA

#11353 [18Texas] update map to match physical game
  lib/engine/game/g_18_texas/map.rb
Labels: pins, 18Texas

#11361 [1894] Update the rulebook link
  lib/engine/game/g_1894/meta.rb
Labels: 1894

#11387 [18RoyalGorge] fix name for private Y5, and fix a typo
  lib/engine/game/g_18_royal_gorge/entities.rb
  lib/engine/game/g_18_royal_gorge/game.rb
Labels: 18RoyalGorge

#11388 [18RoyalGorge] export all 2+ trains at end of first OR set
  lib/engine/game/g_18_royal_gorge/game.rb
Labels: pins, 18RoyalGorge

#11376 [1849] fix for the Bonds variant
  lib/engine/game/g_1849/step/bond.rb
Labels: 1849 variants

#11377 [1861/1867] Restart major companies with 70% ownership limit in two-player games
  lib/engine/game/g_1867/game.rb
Labels: 1867, 1861, migrate_game

#11389 [18RoyalGorge] don't skip player if they can buy shares via private discount
  lib/engine/game/g_18_royal_gorge/step/buy_sell_par_shares.rb
Labels: pins, 18RoyalGorge

#11391 [1822CA] only give Sawmill bonus to E-trains with tokens
  lib/engine/game/g_1822_ca/game.rb
Labels: 1822CA

#11392 [1822/CA and core] fix 1822 tax haven bug
  assets/app/view/game/company.rb
  lib/engine/game/base.rb
  lib/engine/game/g_1822/game.rb
Labels: 1822, Core, 1822CA

#11394 [1822 family] fix Mail Contract interactions with permanent L-trains
  lib/engine/game/g_1822/game.rb
  lib/engine/game/g_1822_ca/game.rb
  lib/engine/game/g_1822_mx/entities.rb
  lib/engine/game/g_1822_mx/game.rb
  lib/engine/game/g_1822_pnw/game.rb
Labels: 1822, 1822MX, 1822CA, 1822 Family

#11325 [1844] Must sell in blocks
  lib/engine/game/g_1844/game.rb
  public/fixtures/1844/164302.json
Labels: pins

#11321 [1871] Prevents sale of more than 30% during EMR
  lib/engine/game/g_1871/step/buy_train.rb
Labels: pins, 1871

#11352 [1871] Should not be able to crossbuy after issuing shares
  lib/engine/game/g_1871/step/buy_train.rb
Labels: pins, 1871

#11408 [1894] Fix a bug allowing for upgradin a green city that you don't have access to
  lib/engine/game/g_1894/step/track.rb
Labels: pins, 1894

#11319 [18MS] Fixes M&M ability to only work for owning corp
  lib/engine/game/g_18_ms/entities.rb
Labels: 18MS, pins

#11320 [1850] require selling down to 60% when force selling
  lib/engine/game/g_1850/step/buy_train.rb
Labels: pins, 1850

#11411 [1858 Switzerland] Avoid modifying 1858's train definitions
  lib/engine/game/g_1858_switzerland/game.rb
Labels: 1858, 1858Switzerland
