Repository tobymao/18xx, pull requests merged in 2024-11, with the labels that each got.

#11309 Update rules for 1860 and 18Ireland to deprecate my personal dropbox
  lib/engine/game/g_1860/meta.rb
  lib/engine/game/g_18_ireland/meta.rb
Labels: 1860, 18Ireland

#11314 [18Uruguay] New updated tile sheet from designer
  lib/engine/game/g_18_uruguay/map.rb
Labels: pins, 18Uruguay

#11318 [1871] fixes wiki link for game
  lib/engine/game/g_1871/meta.rb
Labels: 1871

#11297 [1858Switzerland] Robot variant for two-players
  lib/engine/game/g_1858_switzerland/entities.rb
  lib/engine/game/g_1858_switzerland/game.rb
  lib/engine/game/g_1858_switzerland/meta.rb
  lib/engine/game/g_1858_switzerland/step/buy_sell_par_shares.rb
  lib/engine/game/g_1858_switzerland/step/buy_train.rb
  lib/engine/game/g_1858_switzerland/step/discard_train.rb
  lib/engine/game/g_1858_switzerland/step/dividend.rb
  lib/engine/game/g_1858_switzerland/step/issue_shares.rb
  lib/engine/game/g_1858_switzerland/step/route.rb
  lib/engine/game/g_1858_switzerland/step/token.rb
  lib/engine/game/g_1858_switzerland/step/track.rb
  public/logos/1858_switzerland/SBB.svg
Labels: new games, 1858Switzerland

#11357 [18RoyalGorge] fix gold miner paying for CF&I, add kickstarter and publisher, move to beta
  assets/app/view/welcome.rb
  lib/engine/game/g_18_royal_gorge/game.rb
  lib/engine/game/g_18_royal_gorge/meta.rb
  lib/engine/publisher.rb
Labels: pins

#11341 [18Ardennes] Allow public companies to issue shares
  lib/engine/game/g_18_ardennes/game.rb
  lib/engine/game/g_18_ardennes/step/buy_sell_par_shares_companies.rb
  lib/engine/game/g_18_ardennes/step/issue_shares.rb
Labels: migrate_game, 18Ardennes
