Repository tobymao/18xx, pull requests merged in 2025-08, with the labels that each got.

#11868 [1825] Unit 2 should support 4 players
  lib/engine/game/g_1825/meta.rb
Labels: minor bug, 1825

#11914 [System18] MS map train roster update
  lib/engine/game/g_system18/map_ms_customization.rb
Labels: pins

#11902 A major rewrite of 1824, heavily based on 1837
  lib/engine/game/g_1824/corporation.rb
  lib/engine/game/g_1824/depot.rb
  lib/engine/game/g_1824/entities.rb
  lib/engine/game/g_1824/game.rb
  lib/engine/game/g_1824/map.rb
  lib/engine/game/g_1824/market.rb
  lib/engine/game/g_1824/meta.rb
  lib/engine/game/g_1824/minor.rb
  lib/engine/game/g_1824/phases.rb
  lib/engine/game/g_1824/round/first_stock.rb
  lib/engine/game/g_1824/round/operating.rb
  lib/engine/game/g_1824/round/stock.rb
  lib/engine/game/g_1824/step/buy_pre_staatsbahnen.rb
  lib/engine/game/g_1824/step/buy_sell_par_exchange_shares.rb
  lib/engine/game/g_1824/step/buy_sell_par_shares_first_sr.rb
  lib/engine/game/g_1824/step/buy_train.rb
  lib/engine/game/g_1824/step/dividend.rb
  lib/engine/game/g_1824/step/forced_mountain_railway_exchange.rb
  lib/engine/game/g_1824/trains.rb
  lib/engine/game/g_1837/game.rb
Labels: new games, 1824

#11920 Make it possible to disable par_chart in derived games
  assets/app/view/game/par.rb
  assets/app/view/game/round/auction.rb
  assets/app/view/game/round/stock.rb
  assets/app/view/game/stock_market.rb
Labels: game UI

#11939 [1837] Correct method call, adding missing ?
  lib/engine/game/g_1837/game.rb
Labels: 1837

#11934 [Core] Tweak to algorithm for restoring previous routes
  lib/engine/route.rb
Labels: routes, Core
