Repository tobymao/18xx, pull requests merged in 2025-02, with the labels that each got.

#11216 System18 northern italy
  lib/engine/game/g_system18/game.rb
  lib/engine/game/g_system18/map_northern_italy_customization.rb
  lib/engine/game/g_system18/meta.rb
  lib/engine/game/g_system18/step/buy_train.rb
  lib/engine/game/g_system18/step/dividend.rb
  lib/engine/game/g_system18/step/issue_shares.rb
Labels: System18

#11445 Fix errors in rusts/obsoletes information in train tables on info and spreadsheet pages
  assets/app/view/game/game_info.rb
  assets/app/view/game/train_schedule.rb
Labels: spreadsheet, info page

#11312 [1856] must sell in blocks when forced to sell
  lib/engine/game/g_1856/game.rb
  public/fixtures/1836jr56/hotseat002.json
Labels: pins, 1856

#11340 [1860] fix player value in game variant
  lib/engine/game/g_1860/trainless_shares_half_value.rb
Labels: 1860, pins

#11555 [1807] Add Kickstarter announcement to front page
  assets/app/view/welcome.rb
Labels: front page, 1807

#11449 [18FR] Share Redemption Round
  lib/engine/game/g_18_fr/game.rb
  lib/engine/game/g_18_fr/round/share_redemption.rb
  lib/engine/game/g_18_fr/round/stock.rb
  lib/engine/game/g_18_fr/step/buy_sell_par_shares.rb
  lib/engine/game/g_18_fr/step/redeem_shares.rb
Labels: new games, 18FR

#11531 [1871] Fix dividend payout when there are three PEIR shares
  lib/engine/game/g_1871/step/dividend.rb
Labels: 1871

#11579 [1858 Switzerland] Fix train buying by robot player
  lib/engine/game/g_1858_switzerland/step/buy_train.rb
Labels: 1858Switzerland

#11580 [18Ardennes] Move to beta status
  assets/app/view/welcome.rb
  lib/engine/game/g_18_ardennes/meta.rb
Labels: 18Ardennes
